@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

#root {
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

body {
  margin: 0;
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: black;
}

#navbar{
  position: absolute;
  height: 70px;
  border-bottom: 1px solid #000;
  width: 100%;
  z-index: 10;
}

.navbar-content{
  /* padding: 0 1.125rem; */
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#username,
.nav-menu,
.nav-btn{
  display: inline-block;
}

#username {
  font-size: 1.5rem;
  min-width: 300px;
  text-align: center;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

.nav-menu {
  font-size: 1.25rem;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

.nav-menu a{
  margin: 15px;
}

.nav-menu a:hover{
  cursor: pointer;
}

.nav-btn{
  margin: 20px 100px 0 0;
}

#nav-connect {
  font-size: 1.125rem;
  width: 217px;
}

#nav-connect:hover .line:nth-child(1){
  transform: rotate(40deg);
  width: 22px;
  transition: 0.3s ease-in-out;
  margin: 0;
}

#nav-connect:hover .line:nth-child(3){
  transform: rotate(-40deg);
  width: 22px;
  transition: 0.3s ease-in-out;
  margin: 0;
}

.hover-underline-animation{
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.home-content {
  margin-top: 100px;
  width: 50%;
  margin-right: 40px;
}


/* HOME */
.home-heading {
  font-size: 4rem;
  /* margin: 0 auto; */
  font-weight: 500;
  font-family: 'Playfair Diaplay', serif;
}

.tag {
  font-size: 2.0rem;
  padding: 0;
  margin: 0 auto 10px auto;
  font-family: 'Playfair Display', serif;
  text-align: left;
  /* margin-left: 50px; */
}

#and {
  font-size: 2.7rem;
  font-weight: bolder;
  margin: 0 1rem;
}

.preface {
  margin: 0 50px 0 0;
  font-size: 1.125rem;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 100;
  text-align: left;
}

.btn-container{
  display: flex;
  justify-content: left;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 50px;
}

.main-btn{
  background: none;
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}

.main-btn:hover {
  cursor: pointer;
}


.line {
  width: 50px;
  border: 1px solid black;
  margin: 2px;
  transition: 0.3s ease-in-out;
}

#resume {
  width: 217px;
}

#resume:hover .line:nth-child(1){
  transform: rotate(40deg);
  width: 22px;
  transition: 0.3s ease-in-out;
  margin: 0;
}

#resume:hover .line:nth-child(3){
  transform: rotate(-40deg);
  width: 22px;
  transition: 0.3s ease-in-out;
  margin: 0;
}

#connect {
  width: 500px;
}

.sideline {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 50px;
  height: 20px;
  transition:  1s ease-in-out;
  overflow: hidden;
}

.sideline-internal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
}

.icons {
  display: none;
  padding: 0;
  margin: 0;
  font-size: 22px; /* Set the desired font size */
  height: 22px;
  transition: 1s ease-in-out;
}

#connect:hover .sideline {
  width: 300px;
  height: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: width 1s ease-in-out;
}

#connect:hover .sideline-internal {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

#connect:hover .line{
  transform: rotate(-90deg);
  transition: transform 1s ease-in-out, width 1s ease-in-out;
  width: 20px;
  margin: 2px 0;
}

#connect:hover .icons {
  display: inline;
  transition: 1s ease-in-out;
}


.upper-right {
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: #f61576;
  filter: blur(300px);
  width: 500px;
  height: 400px;
  z-index: -10;
}

.lower-left{
    position: fixed; 
    /* display: block; */
    left: 20px;
    bottom: -70px; 
    margin: 0;
    border-radius: 50%;
    background-color: #511bda;
    filter: blur(300px); 
    width: 500px; 
    height: 400px;
    z-index: -10;
}

.image-container{
  border: 2px solid black;
  border-radius: 3px;
  height: 400px;
  width: 300px;
  position: relative;
}

.kajal {
  margin: 15px 0 0 15px;
  border-radius: 3px;
  left: 0;
  height: 400px;
  width: 300px;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.kajal:hover {
  margin: 0;
  transition: 0.5s ease-in-out;
}
